body
{
  color: rgb(235, 57, 57);
  background: rgb(0, 255, 0);
}
.heading
{
  width: 80%;
  font-size: 25px;
}
#camera 
{
  border: 2px dashed rgb(0, 225, 255);
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(226, 212, 9);
}